.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2.5rem;

	border: 0.125rem solid black;
	border-radius: 0.5rem;
	background-color: white;
}

.form-questions {
	display: grid;
	grid-template-columns: auto auto;
	max-width: 40rem;
	gap: 1rem;
}

label {
	font-weight: 600;
	font-size: 1.5rem;
}

input {
	display: block;
	border: 0.125rem solid black;
	padding: 0.25rem;
}

button {
	padding: 1rem;
	cursor: pointer;
	border: 0.125rem solid black;
	border-radius: 0.25rem;

	/* text style */
	background-color: white;
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 1.125rem;

	/* animation */
	transition: box-shadow ease-in 100ms, transform ease-in 100ms;

	&:first-of-type {
		margin-top: 1rem;
	}
}

button:hover {
	box-shadow: 0.25rem 0.25rem;
	transform: translate(-0.125rem, -0.125rem);
}

button[type="submit"] {
	font-weight: 600;
	background-color: rgb(255, 192, 75);
}
